.nav {
  display: flex;
  color: white;
  overflow: scroll;
  padding: 10px;
  padding-left: 40px;
}

/* hide scrollbar for Chrome, Safari and Opera*/
.nav::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nav {
  -ms-overflow-style: none; /* IE and Edge*/
  scrollbar-width: none; /* Firefox */
}
